/*  NAV
------------------------------------------- */
#content nav .container {
    min-height: 15em;
}

#content nav .right-cell,
#content nav .left-cell {
    background-color: #D9D9D9;
}

#content nav .left-cell {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1.5em;
    
    text-align: center;
}

#content nav #user-icon {
    display: inline;
    width: 12em;
    
    border: 3px solid #2EA490;
}

#content nav .right-cell {
    height: 7.5em;
    
    margin-bottom: 1.5em;
    padding-left: 0.5em;
}

#content nav .right-cell a {
    text-transform: uppercase;
}



/*  LESSONS LIST
------------------------------------------- */
#lessons header {
    background-color: #FFB948;
    text-transform: uppercase;
}

#lessons .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#lessons .flex-container .lesson {
    width: 15em;
    height: 7em;
    
    margin-bottom: 0.7em;
    
    background-color: #D9D9D9;
    text-transform: uppercase;
}

@media(max-width: 550px) {
    #lessons .flex-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    #lessons .flex-container .lesson { 
        width: 100%;
        
        margin-left: auto;
        margin-right: auto;
    }
}


/*  NEW SHEET FORM
------------------------------------------- */
#new_sheet_form {
    display: none;
    color: #2F2F2F;
}

form .button {
    width: 18em;
}

form .button-primary {
    margin-top: 2.5em;
}

form input,
form select {
    width: 15em;
}

form input[type="file"] {
    display: none;
}















