/*  NAV
------------------------------------------- */
#content nav .container {
    min-height: 15em;
}

#content nav .right-cell,
#content nav .left-cell {
    background-color: #D9D9D9;
}

#content nav .left-cell {
    margin-bottom: 1.5em;
    
    text-align: center;
}

#content nav #user-icon {
    display: inline;
    width: 12em;
    
    border: 3px solid #2EA490;
}

#content nav .right-cell {
    height: 7.5em;
    
    margin-bottom: 1.5em;
    padding-left: 0.5em;
}

#content nav .right-cell a {
    text-transform: uppercase;
}

#content #user_infos_content {
    margin-bottom: 1em;
    margin-top: 1em;
}

#content #user_options {
    display: none;
    margin-top: 0;
}

#content #user_options h5 {
    font-family: sifonnbasic_outline;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #3A6BAA;
}

#content #user_options div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

#content #user_options div div {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}


/*  ADD LESSON FORM
------------------------------------------- */
#content #add_lesson_form {
}


/*  LESSONS LIST
------------------------------------------- */
#lessons header {
    background-color: #FFB948;
    text-transform: uppercase;
}

#lessons a {
    margin-left: 0.25em;
    
    text-transform: uppercase;
    font-weight: 300;
}

#lessons .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#lessons .flex-container .lesson {
    width: 15em;
    height: 7em;
    
    margin-bottom: 0.7em;
    
    background-color: #D9D9D9;
    text-transform: uppercase;
}

@media(max-width: 550px) {
    #lessons .flex-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    #lessons .flex-container .lesson { 
        width: 100%;
        
        margin-left: auto;
        margin-right: auto;
    }
}

@media(min-width: 750px) {    
    #lessons .flex-container .lesson {
        width: 30%;
    }
}


/*  NEW SHEET FORM
------------------------------------------- */
#new_sheet_form {
    display: none;
    background-color: #D9D9D9;
    
    padding-left: 0.5em;
    
    color: #2F2F2F;
}

#new_sheet_form h5,
#new_sheet_form a{
    text-transform: uppercase;
}

#new_sheet_form a {
    margin-right: 0.5em;
    
    cursor: pointer;
}

form .button {
    width: 20em;
}

form .button-primary {
    margin-top: 2.5em;
}

form input,
form select {
    width: 18em;
}

form input[type="file"] {
    display: none;
}

form .error {
    border: 1px solid #ff2700;
}


/*  SHEET LIST
------------------------------------------- */
#sheets header {
    background-color: #FFB948;
    margin-bottom: 0.5em;
}

#sheets header h3 {
    max-width: 70%;
}

#sheets .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    overflow: hidden;
}

#sheets .sheet{
    display: block;
    
    width: 25em;
    height: 23em;
    margin-bottom: 1em;
    
    border: 1px solid #3A6BAA;
    background-color: #D9D9D9;
    background-size: cover;
}

#sheets a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#sheets .info_container {  
    margin: 0;
    padding-left: 0.5em;
    
    border-top: 1px solid #3A6BAA;
    background-color: #D9D9D9;
    font-weight: 300;
}

#sheets .sheet h5 {
    margin-bottom: 0px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.6em;
}

#sheets .sheet_info {
    display: none;
    margin-bottom: 0.5em;
    
    color: #2F2F2F;
}


