/*  NAV
------------------------------------------- */
#content nav .container {
    min-height: 15em;
}

#content nav .columns {
    overflow: hidden;
}

#content nav .right-cell,
#content nav .left-cell {
    background-color: #D9D9D9;
}

#content nav .left-cell {
    margin-bottom: 1.5em;
    
    text-align: center;
}

#content nav #user-icon {
    max-height: 13em;
    
    border: 3px solid #2EA490;
}

#content nav .right-cell {
    height: 7.5em;
    
    margin-bottom: 1.5em;
    padding-left: 0.5em;
}

#content nav .right-cell a {
    text-transform: uppercase;
}

#content #user_infos {
    height: 16.5em;
}

#content #user_infos_content a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#content #user_options {
    display: none;
    margin-top: 0;
}

#content #user_options h5 {
    font-family: sifonnbasic_outline;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #3A6BAA;
}

#content #user_options div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    background-repeat: no-repeat;
}

#content #user_options div div {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    text-transform: uppercase;
    font-weight: 300;
}

#content #new_code_form_success {
    display: none;
}

#content #new_code_form_success div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#content #new_link_form {
    margin: 0;
}

@media (max-width: 550px) {
    #content nav .container,
    #content nav {
        padding: 0;
        margin: 0;
    }

    #content nav .row {
        width: 100%;
    }
}

/*  LEFT-BAR
------------------------------------------- */
#left-bar {
    display: none;
    position: fixed;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;

    margin-left: -24em;
    max-height: 100%;
    min-height: 100%;
    width: 24em;

    background-color: #D9D9D9;
    color: #FFFFFF;
    box-shadow: 0px 0px 5px #333333;

    z-index: 9999;
    overflow: auto;

    -webkit-transition: width 0.5s;

    transition: width 0.5s;
}

#left-bar-header {
    margin-top: 0.5em;
    background-color: transparent;

    font-family: 'sifonnbasic';
    text-transform: uppercase;
    color: #3a6baa;
}

#left-bar #feed {
    padding-left: 0.1em;
    padding-bottom: 1.5em;
}

.sheet_in_feed {
    width: 95%;
    margin-bottom: 1em;

    background-size: cover;
    border-top: 2px solid #FFB948;
}

.sheet_in_feed img {
    float: left;
    max-height: 5.5em;
    max-width: 24%;
}

.sheet_in_feed .feed_info_container {
    height: 6em;
    padding-left: 0.5em;

    overflow: hidden;
    color: #2f2f2f;
}

@media(min-width:1100px) {
    #left-bar {
        display: block;
        left: 24em;
    }

    #content {
        margin-left: 25em;
    }
}


/*  LESSONS LIST
------------------------------------------- */
#lessons header {
    background-color: #FFB948;
    text-transform: uppercase;
}

#lessons a {
    padding-left: 0.25em;
    
    text-transform: uppercase;
    font-weight: 300;
}

#lessons .flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#lessons .flex-container .lesson {
    width: 15em;
    height: 7em;
    
    margin-bottom: 0.7em;
    overflow: hidden;
    
    background-color: #D9D9D9;
    text-transform: uppercase;
}

#lessons .info_container {
    display: none;
    color: #2f2f2f;

    word-wrap: break-word;
}

#lesson .info_container h5 {
    line-break: loose;
}

#lessons .revealed {
    border: 1px solid #3A6BAA;
}

@media(max-width: 550px) {
    #lessons .flex-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    
    #lessons .flex-container .lesson { 
        width: 100%;
        
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width: 750px) and (min-width:550px) {
    #lessons .flex-container .lesson {
        width: 45%;
    }
}

@media(min-width: 750px) {
    #lessons .flex-container .lesson {
        width: 30%;
    }
}


/*  NEW FORM
------------------------------------------- */
.new_form {
    display: none;
    background-color: #D9D9D9;
    
    padding-left: 0.5em;
    padding-right: 0.5em;

    color: #2F2F2F;
}

.new_form h5,
.new_form a{
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.new_form a {
    cursor: pointer;
}

form .button {
    width: 20em;
}

form .button-primary {
    margin-top: 2.5em;
}

form input,
form select {
    width: 18em;
}

form input[type="file"] {
    display: none;
}

form .error {
    border: 1px solid #ff2700;
}

#new_code_form {
    height: 100%;
    overflow-y: hidden;

    text-align: left;
}

#new_code_form p,
#new_code_form input {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

#new_code_form input[type="submit"] {
    margin-bottom: 0;
}


/*  ITEMS LIST
------------------------------------------- */
#items_list header {
    background-color: #FFB948;
    flex-wrap: wrap;
}

#filters {
    margin-right: 0.5em;
    height: 100%;
}

#filters button {
    height: 100%;
}

#items_list .flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    
    overflow: hidden;
}

#items_list .sheet,
#items_list .link {
    display: block;
    
    width: 20em;
    height: 18em;
    margin-bottom: 1em;
    
    border: 1px solid #3A6BAA;
    background-color: #D9D9D9;
    background-size: cover;
    overflow: hidden;
}

#items_list .sheet,
#items_list .link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

#items_list .item .info_container {
    margin: 0;
    padding-left: 0.5em;
    
    border-top: 1px solid #3A6BAA;
    background-color: #D9D9D9;
    font-weight: 300;

    word-wrap: break-word;
}

#items_list .item h5 {
    margin-bottom: 0px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.6em;
}

#items_list .item .info {
    display: none;
    margin-bottom: 0.5em;
    
    color: #2F2F2F;
}

#items_list .link {
    background-size: cover;
    background-position: center;
}

/*  CLASSROOM PAGE
------------------------------------------- */
#classroom_infos header,
#students_list header {
    background-color: #FFB948;
    color: #FFFFFF;
    text-transform: uppercase;
}

#classroom_infos .columns {
    background-color: #D9D9D9;

    margin-bottom: 1em;
    padding-left: 0.3em;
}


#classroom_infos .columns h5 {
    text-transform: uppercase;
}


/*  ACCOUNT PAGE
------------------------------------------- */
#user_info_display header,
#sheets header {
    background-color: #FFB948;
    color: #FFFFFF;
    text-transform: uppercase;
}

#user_info_display .columns {
    background-color: #D9D9D9;

    margin-bottom: 1em;
    padding-left: 0.3em;
}

#user_info_display .columns h5 {
    text-transform: uppercase;
}

#account_form {
    display: none;
}

#account_form input[type="text"],
#account_form input[type="password"]{
    width: 95%;
}

#account_form input[type="submit"] {
    margin-top: 0;
}
























