#content header {
    width: 100%;

    font-weight: 300;
    color: #FFFFFF;
    text-transform: uppercase;

    background-color: #FFB948;
}

#intro p {
    text-align: justify;
}

#menu .columns {
    height: 7em;
    padding-left: 0.3em;
    margin-bottom: 1em;

    background-color: #D9D9D9;
}

#menu h5,
#menu p{
    text-transform: uppercase;
}

#menu p {
    font-weight: 300;
}

#student_form {
    display: none;
    padding-left: 0.3em;
    padding-right: 0.3em;

    background-color: #D9D9D9;
}

#student_form h5 {
    margin-right: 0px;
    text-transform: uppercase;
}

#hide_student_form {
    float: right;
}

#delegate_form h3 {
    font-size: 2.5em;
    font-weight: 300;
    text-transform: uppercase;
}

#delegate_form .row {
    margin-bottom: 0.7em;
}

input [type=file] {
    display: none;
}

/* FACEBOOK REGISTERING
-------------------------------------------- */
#registering_method {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#registering_method h3 {
    text-transform: uppercase;
}

#registering_method div[class=center-vertical] {
    padding: 1em;

    background-color: rgba(58, 107, 170, 0.7);
    text-align: center;
}

#sign_in_facebook {
    background-color: #44619D;
    color: #FFFFFF;
    border: none;
}

#sign_in_facebook:hover {
    background-color: rgba(68, 97, 157, 0.57);
}