{% extends 'base.html' %}
{% load static %}

{% block add_stylesheets %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block add_js %}
    <script src="{% static 'js/about.js' %}"></script>
{% endblock %}

{% block header %}
    {{ block.super }}
    <h5 id="catchphrase">PARTAGEZ | ORGANISEZ | PROGRESSEZ</h5>
{% endblock %}

{% block content %}
    <div id="quick-infos" class="container">
        <div class="row">
            <div class="twelve columns">
                <h3>APPRENEZ PLUS SIMPLEMENT AVEC <strong>REFICHE !</strong></h3>
                <div class="icons-flex-list">
                    <div class="icon-flex-listed">
                        <img src="{% static 'img/icons/share.png' %}" width="100"/>
                        <p>Retrouvez tous vos cours et ceux de votre classe en ligne, à tout moment.</p>
                    </div>

                    <div class="icon-flex-listed">
                        <p>Discutez, échangez avec votre classe.</p>
                    </div>

                    <div class="icon-flex-listed">
                        <p>Retrouvez et partagez les sujets de DST et contrôles des années précédentes.</p>
                    </div>
                </div>
            </div>
        </div>
    
{% endblock %}