{% extends 'base.html' %}
{% load static %}

{% block add_stylesheets %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block add_js %}
    <script src="{% static 'js/about.js' %}"></script>
{% endblock %}

{% block header %}
    {{ block.super }}
    <h3 id="catchphrase">
        PARTAGEZ | ORGANISEZ | PROGRESSEZ
    </h3>
{% endblock %}

{% block content %}
    <div>
        <img id="screenshot" src="{% static 'img/screenshot_home.jpg' %}"/>

        <div class="key_point" style="background-color: #2EA490;">
            <h3>Une interface claire pour ...</h3>
        </div>
    </div>

    <div id="quick-infos">
        <div class="icons-flex-list">

            <div class="icon-flex-listed" style="background-color: #133B6F;">
                <img src="{% static 'img/icons/study.png' %}" />
                <p>... Profiter des sujets de DST et contrôles des années précédentes.</p>
            </div>

            <div class="icon-flex-listed" style="background-color: #FF6B48;">
                <img src="{% static 'img/icons/discuss.png' %}" />
                <p>... Discuter, échanger avec votre classe.</p>
            </div>

            <div class="icon-flex-listed" style="background-color: #FFE448;">
                <img src="{% static 'img/icons/share.png' %}" />
                <p>... Retrouver tous vos cours et ceux de votre classe en ligne, à tout moment.</p>
            </div>

            <div class="icon-flex-listed" style="background-image: url('{% static 'img/lesson_preview.gif' %}');">
                <p>... Être facilement au courant des derniers partages</p>
            </div>
        </div>
    </div>

    <div id="register" class="key_point">
        <h3>
            <a href="{% url 'registration.views.register' %}">--> Inscription <--</a>
        </h3>
    </div>
{% endblock %}