{% extends 'base.html' %}
{% load static %}

{% block add_stylesheets %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block add_js %}
    <script src="{% static 'js/about.js' %}"></script>
{% endblock %}

{% block header %}
    {{ block.super }}
    <h5 id="catchphrase">PARTAGEZ | ORGANISEZ | PROGRESSEZ</h5>
{% endblock %}

{% block content %}
    <div id="quick-infos" class="container">
        <div class="row">
            <div class="twelve columns">
                MIEWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW
            </div>
        </div>
        
        <div class="row">
            <div class="four columns">
                HELLLOOOOOO MISTER
            </div>

            <div class="eight columns">
                HELLLLLLOOOO AGAIN !
            </div>
        </div>
    </div>

    <div>
        hd<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>gf<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>dfgwfg
    </div>
    
{% endblock %}