{% extends "base.html" %}

{% block title %} REFICHE {% endblock %}

{% block content %}
	<div id="menu" class="container">        
        <div class="row">
            <div class="cell twelve columns">{% block login%}{% endblock %}</div>
        </div>
        
        <div class="row">
            <div class="bot-cell eight columns"><a class="menu_title" href="{% url "app.views.home" %}">
                <div class="full-container-size">HUB DE LA CLASSE</div>
            </a></div>
            <div class="bot-cell four columns"><a class="menu_title" href="{% url "blog.views.home" %}">
                <div class="full-container-size">BLOG</div>
            </a></div>
        </div>
	</div>
{% endblock %}