{% extends "base.html" %}
{% load static %}

{% block title %} REFICHE {% endblock %}

{% block add_stylesheets %}
    {{ bock.super }}
    <link rel="stylesheet" href="{% static 'css/accueil.css' %}" />
{% endblock %}

{% block add_js %}
    {{ block.super }}
    <script src="{% static 'js/accueil.js' %}"></script>
{% endblock %}

{% block banner %}{% endblock %}

{% block left-bar %}
    <div id="centered">
        <header class="full-container-width">
            <a href="{% url 'app:home' %}">
                <img id="logo_primary" src="{% static "img/logo_full_primary_color.svg" %}"/>
                <img id="logo" class="hidden" src="{% static 'img/logo_full.svg' %}" />
            </a>
        </header>

        <div id="menu" class="hidden">
            {% if user.is_authenticated %}
                <a href="{% url 'app:home' %}">
                    <h3>MA CLASSE</h3>
                </a>
            {% else %}
               <a href="{% url 'registration:register' %}">
                    <h3>INSCRIPTION</h3>
                </a>
            {% endif %}

            <a href="{% url 'accueil:about' %}">
                <h3>ABOUT</h3>
            </a>

            <a href="{% url 'blog:home' %}">
                <div class="full-container-size"><h3>BLOG</h3></div>
            </a>
        </div>

        {% if not user.is_authenticated %}
             <section id="login">
                {% block login %}s{% endblock %}
            </section>
        {% else %}
            <section id="menu_connected">
                <div class="row">
                    <a href="{% url 'app:home' %}">MA CLASSE</a>
                </div>

                <div class="row">
                    <a href="{% url 'accueil:about' %}">ABOUT</a>
                </div>

                <div class="row">
                    <a href="{% url 'blog:home' %}">BLOG</a>
                </div>

                <div class="row">
                    <a href="{% url 'django.contrib.auth.views.logout' %}">DECONNEXION</a>
                </div>
            </section>
        {% endif %}
    </div>

    <footer class="full-container-width">
        ©Augustin GODINOT  ||  All Rights Reserved @2015  ||  <a class="" href="/admin/">Admin  </a>
    </footer>
{% endblock %}

{% block content %}
    <div id="big-picture" class="full-container-size">
        <div class="catchphrase-container full-container-size">
            <h1>Organiser, partager, progresser</h1>
            <button class="button">En savoir plus | inscription</button>
        </div>
    </div>

    <div id="info" class="full-container-size">
        <a href="{% url 'registration:register' %}" class="button button-primary">S'inscrire</a>
    </div>
{% endblock %}

{% block footer %}{% endblock %}