{% extends "accueil/index.html" %}

{% block login%}
<p>SE CONNECTER</p>

{% if error %}
	<p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
{% endif %}

{% if user.is_authenticated %}
	<p>Vous êtes connecté, {{ user.username }} ! <br />
	<a class="inline_link" href="{% url "django.contrib.auth.views.logout" %}">Déconnexion</a></p>
{% else %}
	<form method="post" action=".">
   		{% csrf_token %}
    	{{ form.as_p }}
    	<input type="submit" value="Se connecter" />
	</form>
{% endif %}
{% endblock %}