{% extends "accueil/index.html" %}
{% load static %}

{% block add_js %}
    {{ block.super }}
    <script src="{% static 'js/facebook.js' %}"></script>
{% endblock %}

{% block login%}
{% if user.is_authenticated %}
	<p>Vous êtes connecté, {{ user.username }} ! <br />
	<a class="button" href="{% url "django.contrib.auth.views.logout" %}">Déconnexion</a></p>
{% else %}
	<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
   		{% csrf_token %}

        {% if form.errors %}
            <p>Oops ! Nous ne vous connaissons pas ou votre nom d'utilisateur ou votre mot de passe ne sont pas valides :(</p>
        {% endif %}

        <div class="row">
            <div>{{ form.username.label_tag }}</div>
            <div>{{ form.username }}</div>
        </div>

        <div class="row">
            <div>{{ form.password.label_tag }}</div>
            <div>{{ form.password }}</div>
        </div>
    	<input type="submit" class="button-primary" value="Se connecter" />
        <button id="facebook_login" class="full-container-width">Se connecter avec facebook</button>
	</form>
{% endif %}
{% endblock %}