<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <title>{% block title %}REFICHE{% endblock %}</title>
</head>
    
<body>
	{# The url specified is from django just to be able to include the login form in the index page #}
<header><h1>{% block header %}<a href="{% url "django.contrib.auth.views.login" %}">REFICHE [BETA]</a>{% endblock %}</h1></header>

	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}

   <section id="content">
       {% block content %}{% endblock %}
   </section>

   <div id="go_back">
   		{% block goBack %}{% endblock %}
   </div>
   
<footer>&copy;Ingegus  ||  <a class="" href="/admin">Admin</a></footer>
</body>
</html>