{% extends "accueil/index.html" %}

{% block login%}
<div>
	<h3>Se connecter</h3>

	{% if error %}
		<p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
	{% endif %}

	{% if user.is_authenticated %}
		<p>Vous êtes connectgfé, {{ user.username }} ! <a href="{% url "django.contrib.auth.views.logout" %}">Déconnexion</a></p>
		
	{% else %}
		<form method="post" action=".">
	   		{% csrf_token %}
	    	{{ form.as_p }}
	    	<input type="submit" value="Se connecter" />
		</form>
	{% endif %}

	sdgdsfggfd
</div>
{% endblock %}