{% extends "home.html" %}
{% load humanize %}

{% block in_content %}

<div id="sheets">
    <header><h3>{{ lesson.name|upper }} :  {{ lesson.teacher.gender }} {{ lesson.teacher.lastName }}</h3></header>

<div class=flex-container>
    {% for sheet in sheets %}
        <div class="sheet">
            <a href="{% url 'app.views.downloadSheetPage' pk=sheet.pk %}" class="full-container-size">
                <h5>{{ sheet.name }}</h5> <br />
                Créée par {{ sheet.uploadedBy.user.first_name }} {{ sheet.uploadedBy.user.last_name|upper }} ({{ sheet.uploadedBy.classroom.shortName }}) {{ sheet.uploadDate|naturaltime }}<br />
                <img src="{% url 'app.views.downloadSheetPage' pk=sheet.pk %}" width="300"/>
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}