{% extends "home.html" %}
{% load humanize static app_extras %}

{% block in_content %}

<div id="sheets">
    <header>
        <h3 class="full-container-size">
            {{ lesson.name|upper }} :  {{ lesson.teacher.gender }} {{ lesson.teacher.lastName }}
        </h3>
    </header>

    <div class=flex-container>
    {% for sheet in sheets %}
        {% if sheet.uploadedBy == student %}
            {% include 'app/student_sheet_template.html' %}
        {% else %}
            {% include 'app/sheet_template.html' %}
        {% endif %}
    {% empty %}
        <div class="full-container-size">
            <h5>Personne n'a publié ici :(</h5>
            <p>Soyez le premier à partager !</p>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}