{% load static app_extras %}

<div id="link_{{ link.pk }}" class="link item" style="
        {% if link.thumbnail %}
            background-image: url('{{ link.thumbnail.url }}');
        {% else %}
            background-image: url('{% static 'img/icons/link.png' %}');
        {% endif %}
">
    <div class="info_container">
        <a class="title" href="{{ link.url }}" target="_blank" class="full-container-size">
            <h5>{{ link.webSiteName }}</h5>
        </a>

        <div class="info">
            #lien<br />
            {{ link.uploadedBy.user.first_name }} {{ link.uploadedBy.user.last_name|upper }}
            ({{ link.uploadedBy.classroom.shortName }})

            {{ link.uploadDate|naturaltime_addon }} <br />
            {% block delete_link %}{% endblock %}
        </div>
    </div>
</div>