<form method="post" action="{% url 'app:newLinkPage' %}" >
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="container">
        <div class="row">
            <div class="six columns">
                {{ form.lesson.errors }}
                {{ form.lesson.label_tag }}
                {{ form.lesson }}
            </div>

            <div class="six columns">
                {{ form.url.errors }}
                {{ form.url.label_tag }}
                {{ form.url }}
            </div>
        </div>
    </div>

    <input type="submit" class="button-primary align-center" value="envoyer!"/>
</form>