<form id="id_sheet_form" method="post" enctype="multipart/form-data" action="/app/upload/">
    {% csrf_token %}

    {{ form.errors }}
    
   <div class="container">
        <div class="row">
            <div class="seven columns">
                 <div id="lesson_input_wrapper">
                     {{ sheetForm.lesson.label_tag }}
                     {{ sheetForm.lesson }}
                 </div>
            </div>

            <div class="five columns">
                 <div id="sheetFile_input_wrapper">
                    {{ fileForm.file.label_tag }}
                    {{ fileForm.file }}

                    <div class="input-file-container">
                        <input class="button full-container-width" type="text" readonly value="Selectionner le fichier" id="file_avatar"/>
                    </div>
                 </div>
            </div>
        </div>

       <div class="row">
            <div class="seven columns">
                <div id="sheet_type_input_wrapper">
                    {{ sheetForm.sheetType.label_tag }}
                    {{ sheetForm.sheetType }}
                </div>
            </div>

            <div class="five columns">
                <div>
                    {{ sheetForm.name.label_tag }}
                    {{ sheetForm.name }}
                </div>
            </div>
        </div>

        <input id="submit_new_sheet_form" type="submit" class="full-container-width button button-primary" readonly="true" value="Envoyer !"/>
    </div>
</form>