<form id="id_sheet_form" method="post" enctype="multipart/form-data" action="">
    {% csrf_token %}

    {{ form.errors }}
    
    <div class="container">
        <div class="row">
            <div class="seven columns">
                 <div id="lesson_input_wrapper">
                     {{ form.lesson.label_tag }}
                     {{ form.lesson }}
                 </div>

                <div id="sheet_type_input_wrapper">
                    {{ form.sheetType.label_tag }}
                    {{ form.sheetType }}
                </div>
            </div>

            <div class="five columns">
                 <div id="sheetFile_input_wrapper">
                    {{ form.sheetFile.label_tag }}
                    {{ form.sheetFile }}

                    <div class="input-file-container">
                        <input class="button" type="text" readonly="readonly" value="Selectionner le fichier" id="file_avatar"/>
                    </div>
                    <input id="submit_new_sheet_form" class="button button-primary" readonly="true" value="Envoyer !"/>
                 </div>
            </div>
        </div>
    </div>
</form>