{% load static app_extras %}

<div id="sheet_{{ sheet.pk }}" class="sheet item" style="
                                    {% if sheet.thumbnail %}
                                        background-image: url('{{ sheet.thumbnail.url }}');
                                    {% elif sheet.fileSetExtension == '.pdf' %}
                                        background-image: url('{% static 'img/icons/Pdf.png' %}');
                                    {% else %}
                                        background-image: url('{% static 'img/icons/Word.png' %}');
                                    {% endif %}
                                    ">
    <div class="info_container">
        <a class="title" href="{% url 'app.views.downloadSheetPage' pk=sheet.pk %}" class="full-container-size">
            <h5>{{ sheet.name }}</h5>
        </a>

        <div class="info">
            #{{ sheet.get_sheetType_display }}<br />
            {{ sheet.uploadedBy.user.first_name }} {{ sheet.uploadedBy.user.last_name|upper }}
            ({{ sheet.uploadedBy.classroom.shortName }})

            {{ sheet.uploadDate|naturaltime_addon }} <br />
            {% block delete_link %}{% endblock %}
        </div>
    </div>
</div>