{% extends 'notifications/basic_notification.html' %}
{% load static %}

{% block mail_content %}
    <header>
        <h3>Une nouvelle fiche a été postée !</h3>
    </header>
    <div align="center">
        <p>{{ sheet.uploadedBy.user.first_name }} {{ sheet.uploadedBy.user.last_name }} a posté:</p>
        <div id="sheet">
            {% if sheet.thumbnail %}
                <img src="http://refiche.fr{{ sheet.thumbnail.url }}" alt="Icone de la fiche"/>
            {% elif sheet.fileSetExtension == '.pdf' %}
                <img src="http://refiche.fr{% static 'img/icons/Pdf.png' %}" alt="Icone de la fiche"/>
            {% else %}
                <img src="http://refiche.fr{% static 'img/icons/Word.png' %}" alt="Icone de la fiche"/>
            {% endif %}

            <br />
            <a href="http://refiche.fr{% url 'app.views.lessonPage' lesson_name=sheet.lesson.name %}#sheet_{{ sheet.pk }}">{{ sheet.name }}</a>
        </div>
    </div>
{% endblock %}