{% extends "base.html" %}
{% load static %}

{% block nav %}
<div class="container">
    <div class="row">
        <div class="three columns"><img class="user-icon" src="{% static 'img/user_test_img.png' %}" /></div>
        <div class="three columns">{{ user.first_name }} {{ user.last_name|upper }}</div>
        <div class="two columns">{{ student.classroom.name }}</div>
        <div class="four columns"><a class="button button-primary" href="{% url "app.views.newSheetPage" %}">Poster une nouvelle fiche !</a></div>
    </div>
</div>
{% endblock %}

{% block content %}
<ul>
    {% for lesson in student.lessons.all %}
    	<li><a href="lesson/{{ lesson.name }}">{{ lesson.name }}</a></li>
    {% endfor %}
</ul>

{% endblock %}