{% extends "base.html" %}
{% load static app_extras admin_urls %}

{% block content %}

<nav class="container">
    <div class="row">
        <div id="user_infos" class="six columns left-cell full-container-size">
            <div id="user_infos_content">
                <a href="#" class="full-container-size"><img id="user-icon" src="{% static 'img/user_test_img.png' %}" /><br />
                <span>{{ user.first_name }} {{ user.last_name|upper }}</span></a>
            </div>

            <div id="user_options" class="full-container-size">
                <div class="full-container-size" style="background-image: url('{% static 'img/icons/settings.png' %}');">
                    <h5>Options</h5>

                    {% if request.user.is_staff %}
                    <div>
                        <a id="add_lesson" href="{% url 'admin:index' %}">Administration</a>
                    </div>

                    <div>
                        <a id="get_code" href="#">Obtenir un code</a>
                    </div>
                    {% endif %}

                    <div>
                        <a href="#">Mon compte</a>
                    </div>

                    <div>
                        <a href="{% url 'django.contrib.auth.views.logout' %}">Déconnexion</a>
                    </div>

                    <div>
                        <a id="hide_user_options" href="#">RETOUR</a>
                    </div>
                </div>
            </div>

            {% if request.user.is_staff %}
                <div id="new_code_form" class="new_form">
                    {% load registration_extras %}
                    {% getStudentRegistrationForm request %}
                </div>

                <div id="new_code_form_success" class="full-container-size">
                    <div class="full-container-size">
                        <h5>Votre code : </h5>
                        <input type="text" readonly="true" value="{{ code.code }}">
                        <a href="#" id="hide_new_code_success">RETOUR</a>
                    </div>
                </div>
            {% endif %}
        </div>
        
        <div id="left_cell" class="six columns">
            <div class="container">
                <div id="classroom_profile" class="row right-cell"><a href="{% url 'app.views.underConstruction' classroom_name='miew' %}" class="full-container-size"><h5>{{ student.classroom.name }}</h5></a></div>
                <div class="row right-cell" id="new_sheet_div" >
                    <a id="post_new_sheet_link" href="#" class="full-container-size post_new_sheet_link"><h5>Poster une nouvelle fiche !</h5></a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div id="new_sheet_form" class="new_form">
    <h5>Poster une nouvelle fiche ! <a id="hide_new_sheet_form" class="u-pull-right">Retour</a></h5>
    {% getNewSheetForm request %}
</div>

{% block in_content %}
<div id="lessons">
    <header>
        <h3>Matières</h3>
    </header>
    
    <div class="flex-container">
        {% for lesson in classroom.lessons.all %}
        <div class="lesson">
            <a class="full-container-size" href="{% url 'app.views.lessonPage' lesson_name=lesson.name %}">
                <h5>{{ lesson.name }}</h5>
                <p>
                    {{ lesson.teacher.gender }}
                    {{ lesson.teacher.lastName }}
                </p>
            </a>
        </div>
        {% empty %}
            <div class="full-container-size">
                <h5>Vous n'avez pas encore de matière :(</h5>
                <p>Demandez à votre délégué de les créer !</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% endblock %}