{% extends "base.html" %}
{% load static app_extras admin_urls %}

{% block add_js %}
    {{ block.super }}
    <script src="{% static 'js/sheets_feed.js' %}"></script>
{% endblock %}

{% block add_stylesheets %}
<link rel="stylesheet" href="{% static 'css/app.css' %}" />
{% endblock %}

{% block header-nolink %}
    <div class="nav-icon">
        <div></div>
    </div>
{% endblock %}

{% block hidden %}
    {% include 'loading.html' %}
{% endblock %}

{% block left-bar %}
    <header id="left-bar-header">
        <h3>Dernières fiches</h3>
    </header>

    <div id="feed">
        Chargement ...
    </div>
{% endblock %}

{% block content %}
{% include 'menu.html' %}

{% block in_content %}
<div id="lessons">
    <header>
        <h3>Matières</h3>
    </header>
    
    <div class="flex-container">
        {% for lesson in lessons %}
        <div class="lesson">
            <a class="full-container-size" href="{% url 'app:lessonPage' lesson_name=lesson.name %}">
                <div class="name_container">
                    <h5>{{ lesson.name }}</h5>
                    <p>
                        {{ lesson.teacher.gender }}
                        {{ lesson.teacher.lastName }}
                    </p>
                </div>

                <div class="info_container">
                    <h5>Derniers partages:</h5>

                    {% for item in lesson.getLastItems %}
                        {% if item.name %}
                            {% with item as sheet %}
                                <div class="end-line-wrap">{{ sheet.name }}</div>
                            {% endwith %}
                        {% endif %}

                        {% if item.webSiteName %}
                            {% with item as link %}
                                <div class="end-line-wrap">{{ link.webSiteName }}</div>
                            {% endwith %}
                        {% endif %}
                    {% empty %}
                        Arghh aucun partage récent :'(
                    {% endfor %}
                </div>
            </a> 
        </div>
        {% empty %}
            <div class="full-container-size">
                <h5>Vous n'avez pas encore de matière :(</h5>
                <p>Demandez à votre délégué de les créer !</p>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
{% endblock %}