<form id="account_form" method="POST" action="{% url 'registration.views.changeUserInfos' %}" enctype="multipart/form-data" >
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="row">
        <div class="four columns">
            {{ form.firstName.errors }}
            {{ form.firstName.label_tag }}
            {{ form.firstName }}
        </div>

        <div class="four columns">
            {{ form.lastName.errors }}
            {{ form.lastName.label_tag }}
            {{ form.lastName }}
        </div>

        <div class="four columns">
            {{ form.avatar.errors }}
            {{ form.avatar.label_tag }}
            {{ form.avatar }}

            <div class="input-file-container">
                <input class="button" type="text" readonly="readonly" value="Selectionner le fichier" id="file_avatar"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="six columns">
            {{ form.password1.errors }}
            {{ form.password1.label_tag }}
            {{ form.password1 }}
        </div>

        <div class="six columns">
            {{ form.password2.errors }}
            {{ form.password2.label_tag }}
            {{ form.password2 }}
        </div>
    </div>

    <input class="full-container-width button-primary" type="submit" value="Mettre à jour mon profil">

</form>