{% extends 'base.html' %}
{% load static %}

{% block add_stylesheets %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock %}

{% block add_js %}
    {{ block.super }}
    <script src="{% static 'js/registration.js' %}"></script>
    <script src="{% static 'js/facebook.js' %}"></script>
{% endblock %}

{% block content %}
    <form class="registration_form" id="delegate_form" action="{% block action %}
                                                                    {% url 'registration.views.delegateRegister' %}
                                                               {% endblock %}" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}

        {% block form_title %}
            <h3 class="full-container-width">Inscription délégué</h3>
        {% endblock %}

        {{ form.non_field_errors }}

        {% for field in form %}
            {% cycle '<div class="row">' silent%}
                <div class="six columns">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}

                   {% comment %} {% if field.name == 'avatar' %}
                        <div class="input-file-container">
                            <input class="button" type="text" readonly="readonly" value="Selectionner le fichier" id="file_avatar"/>
                        </div>
                    {% endif %}{% endcomment %}
                </div>
            {% cycle '' '</div>' %}
        {% endfor %}

        <input class="button-primary full-container-size"type="submit" value="S'inscrire !">
    </form>
{% endblock %}

{% block hidden %}
    <div id="registering_method" class="hidden">
        <div class="center-vertical">
            <h3>Inscription avec facebook</h3>
            <p>Pour gagner du temps, vous pouvez vous inscrire avec facebook et ne modifier ensuite que les champs erronés</p>

            <div class="row">
                <div class="six columns">
                    <button id="with_facebook" class="button-primary full-container-width">S'inscrire avec facebook</button>
                </div>

                <div class="six columns">
                    <button id="without_facebook" class="button full-container-width">S'inscrire sans facebook</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}