{% extends 'base.html' %}
{% load static %}

{% block add_js %}
    <script src="{% static 'js/facebook.js' %}"></script>
{% endblock %}

{% block content %}
    <h3>Bravo, vous êtes inscrit(e) !</h3>
    <p>Vous allez recevoir un email avec vos identifiants, vous pourrez ensuite vous connecter</p>
    <a href="{% url 'app.views.home' %}" class="button" >Se connecter</a>

    {% if is_delegate %}
        <div>
            <input id="token" type="hidden" value="{{ token.value }}" />

            <h3>Refiche et facebook</h3>
            <p>
                En temps que délégué vous pouvez créer un groupe de classe qui sera relié à refiche.
                Grâce à ce groupe, vous et votre classe serez informés de toutes les nouvelles publications sur refiche.<br />
            </p>

            <button id="facebook_button" class="button-primary" disabled="disabled">Créer un groupe de classe</button>
            <div id="status"></div>
        </div>
    {% endif %}
{% endblock %}